##修改package 名字
package ${package}.controller;
## 此处固定的三方jar包
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import lombok.RequiredArgsConstructor;
import org.springframework.web.bind.annotation.*;
import java.util.List;
##此处引用自己编写的jar包
import com.zc.annotation.Log;
import com.zc.entity.ResultResponse;
import org.springframework.security.access.prepost.PreAuthorize;
##此处引用实体类
import ${package}.entity.${className};
import ${package}.service.${className}Service;
/**
 * ${tableComment} 信息操作处理
 *
 * @author ${author}
 * @date ${datetime}
 */

@RestController
@RequiredArgsConstructor
@RequestMapping("/${moduleName}/${classname}")
@Api(tags = "${tableComment}信息管理")
public class ${className}Controller {
    private final ${className}Service ${classname}Service;

    @GetMapping("/id")
    @ApiOperation("根据主键获得对象数据")
    @Log("${tableComment}信息管理:根据主键获得对象数据")
    @PreAuthorize("@el.check('${classname}:getRecordById')")
    public ResultResponse getRecordById(${primaryKey.attrType} id) {
        ${className} result = ${classname}Service.selectByPrimaryKey(id);
        if (result != null) {
            return ResultResponse.success(result);
        }
        return ResultResponse.error();
    }

    @GetMapping
    @ApiOperation("根据条件查询得到对象集合")
    @Log("${tableComment}信息管理:根据条件查询得到对象集合")
    @PreAuthorize("@el.check('${classname}:getListByParam')")
    public ResultResponse getListByParam(${className} record) {
        List<${className}> result = ${classname}Service.selectListBySelective(record);
        if (result != null && result.size() > 0) {
            return ResultResponse.success(result);
        }
        return ResultResponse.error();
    }


    @GetMapping("/ids")
    @ApiOperation("根据id集合获得目标数据集合")
    @Log("${tableComment}信息管理:根据id集合获得目标数据集合")
    @PreAuthorize("@el.check('${classname}:getListByIds')")
    public ResultResponse getListByIds(@RequestParam(value = "ids" ,required=false)List<${primaryKey.attrType}> ids) {
        List<${className}> result = ${classname}Service.selectByPrimaryKeys(ids);
        if (result != null && result.size() > 0) {
            return ResultResponse.success(result);
        }
        return ResultResponse.error();
    }

    @ApiOperation("分页获得目标数据集合")
    @GetMapping("page")
    @Log("${tableComment}信息管理:分页获得目标数据集合")
    @PreAuthorize("@el.check('${classname}:getPageByParam')")
    public ResultResponse getPageByParam(${className} record, Page page) {
        IPage<${className}> recordIPage = ${classname}Service.selectPageBySelective(record, page);
        return ResultResponse.success(recordIPage);
    }

    @Log("${tableComment}信息管理:根据条件查询符合数据的数量")
    @GetMapping("count")
    @ApiOperation("根据条件查询符合数据的数量")
    @PreAuthorize("@el.check('${classname}:getCount')")
    public ResultResponse getCount(${className} record) {
        int result = ${classname}Service.selectCountBySelective(record);
        return ResultResponse.success(result);
    }

    @ApiOperation("插入单条数据")
    @PostMapping
    @Log("${tableComment}信息管理:插入单条数据")
    @PreAuthorize("@el.check('${classname}:insert')")
    public ResultResponse insert(@RequestBody ${className} record) {
        int result = ${classname}Service.insert(record);
        if (result > 0) {
            return ResultResponse.success(record);
        }
        return ResultResponse.error();
    }

    @ApiOperation("批量插入数据")
    @PostMapping("batch")
    @Log("${tableComment}信息管理:批量插入数据")
    @PreAuthorize("@el.check('${classname}:insertBatch')")
    public ResultResponse insertBatch(@RequestBody List<${className}> records) {
        int result = ${classname}Service.insertBatch(records);
        if (result > 0) {
            return ResultResponse.success(records);
        }
        return ResultResponse.error();
    }

    @ApiOperation("修改数据")
    @PutMapping
    @Log("${tableComment}信息管理:修改数据")
    @PreAuthorize("@el.check('${classname}:update')")
    public ResultResponse update(@RequestBody ${className} record) {
        int result = ${classname}Service.update(record);
        if (result > 0) {
            return ResultResponse.success();
        }
        return ResultResponse.error();
    }

    @ApiOperation("修改数据,仅修改不为null的数据")
    @PutMapping("/selective")
    @Log("${tableComment}信息管理:修改部分数据")
    @PreAuthorize("@el.check('${classname}:updateBySelective')")
    public ResultResponse updateBySelective(@RequestBody ${className} record) {
        int result = ${classname}Service.updateBySelective(record);
        if (result > 0) {
            return ResultResponse.success();
        }
        return ResultResponse.error();
    }

    @ApiOperation("批量修改数据")
    @PutMapping("batch")
    @Log("${tableComment}信息管理:批量修改数据")
    @PreAuthorize("@el.check('${classname}:updateBatch')")
    public ResultResponse updateBatch(@RequestBody List<${className}> records) {
        int result = ${classname}Service.updateBatch(records);
        if (result > 0) {
            return ResultResponse.success();
        }
        return ResultResponse.error();
    }

    //如果某批数据中,有一个数据属性存在值,其他数据的属性不存在值,那么最终修改结果为其他数据的该属性将设为null值
    @ApiOperation("批量修改数据,仅修改部分属性")
    @PutMapping("batch/selective")
    @Log("${tableComment}信息管理:批量修改数据的部分属性")
    @PreAuthorize("@el.check('${classname}:updateBatchBySelective')")
    public ResultResponse updateBatchBySelective(@RequestBody List<${className}> records) {
        int result = ${classname}Service.updateBatchSelective(records);
        if (result > 0) {
            return ResultResponse.success();
        }
        return ResultResponse.error();
    }

    @ApiOperation("删除数据")
    @DeleteMapping()
    @Log("${tableComment}信息管理:删除数据")
    @PreAuthorize("@el.check('${classname}:delete')")
    public ResultResponse delete(${primaryKey.attrType} id) {
        int result = ${classname}Service.deleteByPrimaryKey(id);
        if (result > 0) {
            return ResultResponse.success();
        }
        return ResultResponse.error();
    }

    @ApiOperation("根据主键集合批量删除数据")
    @DeleteMapping("ids")
    @Log("${tableComment}信息管理:根据主键集合批量删除数据")
    @PreAuthorize("@el.check('${classname}:deleteByIds')")
    public ResultResponse deleteByIds(@RequestBody List<${primaryKey.attrType}> ids) {
        int result = ${classname}Service.deleteByPrimaryKeys(ids);
        if (result > 0) {
            return ResultResponse.success();
        }
        return ResultResponse.error();
    }


}
