package ${package}.service.impl;

import java.util.List;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.mapper.${className}Mapper;
import ${package}.entity.${className};
import ${package}.service.${className}Service;
import com.zc.utils.SqlListHandleUtils;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
 * ${tableComment} 服务层实现
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
@RequiredArgsConstructor
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

    private final ${className}Mapper ${classname}Mapper;
#foreach($method in $codeMethodConfigs)
#if($method.methodName=='getObjectById')
    /**
     * 查询${tableComment}信息
     *
     * @param id ${tableComment}ID
     * @return ${tableComment}信息
     */
    @Override
    public ${className} selectObjectById(${primaryKey.columnJavaType} id) {
        return ${classname}Mapper.selectObjectById(id);
    }

#elseif($method.methodName=='getListByParam')
    /**
     * 根据条件,查询${tableComment}列表
     *
     * @param record ${tableComment}信息
     * @return ${tableComment}集合
     */
    @Override
    public List<${className}> selectListByParam(${className} record) {
        return ${classname}Mapper.selectListByParam(record);
    }
#elseif($method.methodName=='getOneByParam')
    /**
     * 根据条件,查询第一个${tableComment}对象(一般用于条件可以确定唯一数据)
     *
     * @param record ${tableComment}信息
     * @return ${tableComment}
     */
    @Override
    public ${className} selectOneByParam(${className} record) {
        return ${classname}Mapper.selectOneByParam(record);
    }
#elseif($method.methodName=='getPageByParam')
    /**
     * 根据条件,分页查询${tableComment}列表
     *
     * @param record ${tableComment}信息
     * @param page mybatis-plus 分页对象
     * @return ${tableComment}集合
     */
    @Override
    public IPage<${className}> selectPageByParam(${className} record, Page page) {
        return ${classname}Mapper.selectPageByParam(record, page);
    }
#elseif($method.methodName=='getListByIds')
    /**
     * 根据主键集合,批量查询${tableComment}列表
     *
     * @param ids ${tableComment}主键List集合
     * @return ${tableComment}集合
     */
    @Override
    public List<${className}> selectListByIds(List<${primaryKey.columnJavaType}> ids) {
        if (ids == null || ids.size() <= 0) {
            return null;
        }
        return ${classname}Mapper.selectListByIds(ids);
    }

#elseif($method.methodName=='getCountByParam')
    /**
     * 查询符合条件的语句数量
     *
     * @param record ${tableComment} 信息
     * @return 查询结果数量
     */
    @Override
    public int selectCountByParam(${className} record) {
        return ${classname}Mapper.selectCountByParam(record);
    }
#elseif($method.methodName=='insertOne')
    /**
     * 插入单条数据
     *
     * @param record ${tableComment} 信息
     * @return 插入数量
     */
    @Override
    public int insertOne(${className} record) {
        return ${classname}Mapper.insertOne(record);
    }

#elseif($method.methodName=='insertBatch')
    /**
     * 批量插入多条数据
     *
     * @param recordList ${tableComment}集合
     * @return 插入数量
     */
    @Override
    @Transactional
    public int insertBatch(List<${className}> recordList) {
        int result = 0;
        if (recordList == null || recordList.size() <= 0) {
            return result;
        }
        List<List<${className}>> list = SqlListHandleUtils.splitList(recordList, 50);
        for (List<${className}> records : list) {
            int count = ${classname}Mapper.insertBatch(records);
            result = result + count;
        }
        return result;
    }
#elseif($method.methodName=='updateById')
    /**
     * 修改单条数据,若部分属性为null,则将数据库中的数据也修改为null
     *
     * @param record ${tableComment} 信息
     * @return 修改数量
     */
    @Override
    public boolean updateById(${className} record) {
        return ${classname}Mapper.updateById(record)>0;
    }
#elseif($method.methodName=='updateByParam')
    /**
     * 修改单条数据,仅修改存在数值的属性
     *
     * @param record ${tableComment} 信息
     * @return 修改数量
     */
    @Override
    public int updateByParam(${className} record) {
        return ${classname}Mapper.updateByParam(record);
    }

#elseif($method.methodName=='updateBatch')
    /**
     * 修改多条数据,若部分属性为null,则将数据库中的数据也修改为null
     *
     * @param recordList ${tableComment} 集合
     * @return 修改数量
     */
    @Override
    @Transactional
    public int updateBatch(List<${className}> recordList) {
        int result = 0;
        if (recordList == null || recordList.size() <= 0) {
            return result;
        }
        List<List<${className}>> list = SqlListHandleUtils.splitList(recordList, 50);
        for (List<${className}> records : list) {
            int count = ${classname}Mapper.updateBatch(records);
            result = result + count;
        }
        return result;
    }
#elseif($method.methodName=='updateBatchByParam')
    /**
    * 根据条件修改某些参数,仅修改存在数值的属性
    *
    * @param  params  需要修改的信息
    * @param  record  根据的条件信息
    * @return 修改数量
    */
    @Override
    public int updateParamsByParam(${className} params,${className} record) {
        return ${classname}Mapper.updateParamsByParam(params, record);
    }


    /**
     * 修改多条数据,仅修改存在数值的属性
     *
     * @param recordList ${tableComment} 集合
     * @return 修改数量
     */
    @Override
    @Transactional
    public int updateBatchByParam(List<${className}> recordList) {
        int result = 0;
        if (recordList == null || recordList.size() <= 0) {
            return result;
        }
        List<List<${className}>> listLists = SqlListHandleUtils.splitList(recordList, 50);
        for (List<${className}> records : listLists) {
            int count = ${classname}Mapper.updateBatchSelective(records);
            result = result + count;
        }
        return result;
    }
#elseif($method.methodName=='deleteById')
    /**
     * 根据主键删除数据
     *
     * @param id ${tableComment} 主键
     * @return 删除数量
     */
    @Override
    public boolean deleteById(${primaryKey.columnJavaType} id) {
        return ${classname}Mapper.deleteById(id)>0;
    }

#elseif($method.methodName=='deleteListByParam')
    /**
    * 根据条件删除数据
    *
    * @param record  删除的条件
    * @return 删除数量
    */
    public int deleteListByParam(${className} record){
        return ${classname}Mapper.deleteListByParam(record);
    }

#elseif($method.methodName=='deleteListByIds')
    /**
     * 根据主键集合删除数据
     *
     * @param ids ${tableComment} 主键集合
     * @return 删除数量
     */
    @Override
    public int deleteListByIds(List<${primaryKey.columnJavaType}> ids) {
        if (ids == null || ids.size() <= 0) {
            return 0;
        }
        return ${classname}Mapper.deleteListByIds(ids);
    }
#end
#end
}
